@model User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" asp-action="Login" asp-controller="Account">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control"/>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <input type="submit" class="btn btn-outline-info"  value="Login"/>
</form>

