@model Employee
@{
   
    SelectList deptOptions = new SelectList(ViewBag.depts, "Id", "Name");
}

<h1>New</h1>
<form method="post" asp-action="@ViewBag.Link" asp-route-id="@ViewBag?.id" asp-controller="Employee">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div>
        
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeptId"></label>
        @*<input asp-for="DeptId" class="form-control" />*@
        <select class="form-control" asp-for="DeptId" asp-items="deptOptions"></select>
    </div>
    <input type="submit" class="btn btn-outline-dark" value="@ViewBag.Link"/>
</form>

