<!--Razor Syntax-->


<h1>Hello from MyView</h1>
<h2>Welcome</h2>
<style>
    h2{
        color:seagreen;
    }
</style>
<script>
    alert("Hello !!!!")
</script>

<!--Block Scope-->
@{
    int x = 5;
    int y = 10;
}
<!--Inline Scope-->
<h2>@x</h2>

@if(x > y){
    <h1>x=@x greater than y=@y</h1>
}else {
    <h1>x=@x less than y=@y</h1>
}
@for(int i = 1 ; i < 10 ; i++){
    <h1>@i</h1>
}